{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
         <div class="card-body">
            <h2 class="header-title">Nouveau Individu</h2>
                {{ form_start(formIndividu) }}
                     <div class="form-row align-items-center">
                        <div class="col-sm-4 my-1">
                           {{ form_row(formIndividu.nom, {'attr': {'placeholder': "Nom de l'individu", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4  my-1">
                            {{ form_row(formIndividu.prenom, {'attr': {'placeholder': "Prenom de l'individu", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4  my-1">
                                {{ form_row(formIndividu.sexe, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.numero_cin, {'attr': {'placeholder': "Numero CIN", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.fonction, {'attr': { 'placeholder': "(fonction a reflechir!!!!)", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-3 my-1">
                         {{ form_row(formIndividu.date_naiss, {'attr': { 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-4 my-1">
                                {{ form_row(formIndividu.id_situation_matrimoniale, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.id_niveau_etude, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.id_foyer, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-3 my-1">
                            <button type ="submit" class="btn btn-info" >Enregistrer</button>
                        </div> 
                        
                    </div>
                {{ form_end(formIndividu) }}
        </div>
    </div>
{% endblock %}