{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
         <div class="card-body">
            <h2 class="header-title">
                {% if editMode %}
                    Modification du profil de l'individu
                {% else %}
                    Creation d'un individu
                {% endif %}
            </h2>
                {{ form_start(formIndividu) }}
                     <div class="form-row align-items-center">
                        <div class="col-sm-4 my-1">
                           {{ form_row(formIndividu.nom, {'attr': {'placeholder': "Nom de l'individu", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4  my-1">
                            {{ form_row(formIndividu.prenom, {'attr': {'placeholder': "Prenom de l'individu", 'class':'form-control'}}) }}
                        </div>

                       
                        <div class="col-sm-1.5 my-1">
                                {{ form_row(formIndividu.date_naiss.day, {'attr': {'class': 'form-control'}}) }}                             
                        </div>
                        <div class="col-sm-1.5 my-1">
                                {{ form_row(formIndividu.date_naiss.month, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-sm-1.5 my-1">
                                {{ form_row(formIndividu.date_naiss.year, {'attr': {'class': 'form-control'}}) }}                              
                        </div>

                        <div class="col-sm-4  my-1">
                                {{ form_row(formIndividu.sexe, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.numero_cin, {'attr': {'placeholder': "Numero CIN", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.fonction, {'attr': { 'placeholder': "(fonction a reflechir!!!!)", 'class':'form-control'}}) }}
                        </div>

                        
                        <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.id_situation_matrimoniale, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.id_niveau_etude, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formIndividu.id_foyer, {'attr': { 'class':'form-control'}}) }}
                        </div>

                        
                        <div class="col-sm-3 my-1 "></div>
                        
                        <div class="col-sm-2 pull-right">
                            <button type ="submit" class="btn btn-info" >
                                {% if editMode %}
                                    Enregistrer les modifications
                                {% else %}
                                    Ajouter l'individu
                                {% endif %}
                            </button>
                        </div> 
                        
                    </div>
                    {{ form_end(formIndividu) }}
        </div>
    </div>
{% endblock %}