{% extends "base.html.twig" %}
{% block body %}
    <div class="card">
        <div class="card-body" >
            <h3>
                {% if editMode %}
                    Modification d'un quartier
                {% else %}
                    Creation d'un nouveau quartier
                {% endif %}
            </h3>
            {{ form_start(formQuartier) }}
                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            {{ form_row(formQuartier.libelle, {'attr': {'placeholder': "Nom du quartier", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-12">
                            {{ form_row(formQuartier.localisation, {'attr': {'placeholder': "Localisation", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formQuartier.nombre_foyer, {'attr': {'placeholder': "Nombre de foyers", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formQuartier.nombre_appartement, {'attr': {'placeholder': "Nombre d'appartements", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-4 my-1">
                            <label class="" for="inlineFormInputName">Fokotany</label>
                            <select class="form-control" name="fokotany" id="inputFokotany" > 
                                <option>Fokotany 1</option>
                                <option>Fokotany 2</option>
                            </select>
                        </div>
                        <br><br>

                        <div class="col-auto my-1">
                            <button type ="submit" class="btn btn-primary" >
                                {% if editMode %}
                                    Enregistrer les modifications
                                {% else %}
                                    Ajouter le quartier
                                {% endif %}
                            </button>
                        </div>
                        
                    </div>
                {{ form_end(formQuartier) }}
        </div>
    </div>
{% endblock %}