<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Fokotany</title>
        {% block stylesheets %}
        <link rel="shortcut icon" type="image/png" href="{{asset('assets/images/icon/favicon.ico')}}">
        <link rel="stylesheet" href="{{asset('assets/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/themify-icons.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/metisMenu.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/owl.carousel.min.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/slicknav.min.css')}}">
        <!-- amchart css -->
        <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <!-- others css -->
        <link rel="stylesheet" href="{{asset('assets/css/typography.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/default-css.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/styles.css')}}">
        <link rel="stylesheet" href="{{asset('assets/css/responsive.css')}}">
    <!-- modernizr css -->
    <script src="{{asset('assets/js/vendor/modernizr-2.8.3.min.js')}}"></script>
        {% endblock %}
    </head>
    <body style="background-color: #f5f5f5;">
   
        <div class="container-fluid">
            
                <div class="page-container">
                     {% include "include/sidebar.html.twig" %}

                        <div class="main-content-inner" style="margin-bottom:2%;">                    
                          
                                    <div class="row">
                                        <div class="col-lg-12 mt-5"> 
                                              {% block body %}

                                              {% endblock %}
                                        </div>
                             </div>       
                            

                       </div>
                </div>
                <footer>
                    <div class="footer-area">
                        <p>© Copyright 2018. All right reserved. by <p class="text-primary">E-DEVY</p> </a>.</p>
                    </div>
                </footer>
           
        </div>
        {% block javascripts %}
             <script src="{{asset('assets/js/vendor/jquery-2.2.4.min.js')}}"></script>
            <!-- bootstrap 4 js -->
            <script src="{{asset('assets/js/popper.min.js')}}"></script>
            <script src="{{asset('assets/js/bootstrap.min.js')}}"></script>
            <script src="{{asset('assets/js/owl.carousel.min.js')}}"></script>
            <script src="{{asset('assets/js/metisMenu.min.js')}}"></script>
            <script src="{{asset('assets/js/jquery.slimscroll.min.js')}}"></script>
            <script src="assets/js/jquery.slicknav.min.js"></script>

            <!-- start chart js -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
            <!-- start highcharts js -->
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <!-- start zingchart js -->
            <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
            <script>
                zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
                ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
            </script>
            <!-- all line chart activation -->
            <script src="{{asset('assets/js/line-chart.js')}}"></script>
            <!-- all pie chart -->
            <script src="{{asset('assets/js/pie-chart.js')}}"></script>
            <!-- others plugins -->
            <script src="{{asset('assets/js/plugins.js')}}"></script>
            <script src="{{asset('assets/js/scripts.js')}}"></script>
        {% endblock %}
    </body>
</html>
