{% extends "base.html.twig" %}
{% block body %}
    <div class="card" >
        <div class="card-body">
            <h3>
                {% if editMode %}
                    Modification d'un appartement
                {% else %}
                    Creation d'un nouveau appartement
                {% endif %}
            </h3>

           {{ form_start(formAppart) }}
                    <div class="form-row align-items-center">
                        <div class="col-sm-12 my-1">
                            {{ form_row(formAppart.adresse, {'attr': {'placeholder': "Adresse", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-6 my-1">
                            {{ form_row(formAppart.latitude, {'attr': {'placeholder': "Latitude", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-6 my-1">
                            {{ form_row(formAppart.longitude, {'attr': {'placeholder': "Longitude", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-6 my-1">
                           {{ form_row(formAppart.nombre_foyer, {'attr': {'placeholder': "Nombre de foyer", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-6 my-1">
                            {{ form_row(formAppart.id_quartier, {'attr': { 'class':'form-control'}}) }}
                        </div>
                        <br><br>

                        <div class="col-auto my-1">
                            <button type ="submit" class="btn btn-success" >
                                {% if editMode %}
                                    Enregistrer les modifications
                                {% else %}
                                    Ajouter l'appartement
                                {% endif %}
                            </button>
                        </div>
                        
                    </div>
                {{ form_end(formAppart) }}

        </div>
    </div>
{% endblock %}