{% extends "base.html.twig" %}
{% block body %}
       <div class="card">
        <div class="card-body">
            <h3>
                {% if editMode %}
                    Modification d'un foyer
                {% else %}
                    Creation d'un nouveau foyer
                {% endif %}
            </h3>
            {{ form_start(formFoyer) }}
                    <div class="form-row align-items-center">
                        <div class="col-sm-6 my-1">
                            {{ form_row(formFoyer.pere, {'attr': {'placeholder': "Pere de foyer", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-6 my-1">
                            {{ form_row(formFoyer.mere, {'attr': {'placeholder': "Mere au foyer", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-4 my-1">
                            {{ form_row(formFoyer.nombre, {'attr': {'placeholder': "Nombre de personnes", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-4 my-1">
                            {{ form_row(formFoyer.revenu_pere, {'attr': {'placeholder': "Revenu du pere", 'class':'form-control'}}) }}
                        </div>
                         <div class="col-sm-4 my-1">
                            {{ form_row(formFoyer.revenu_mere, {'attr': {'placeholder': "Revenu du mere", 'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-6 my-1">
                            {{ form_row(formFoyer.id_appartement, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <div class="col-sm-6 my-1">
                            {{ form_row(formFoyer.id_quartier, {'attr': {'class':'form-control'}}) }}
                        </div>
                        <br><br>

                        <div class="col-auto my-1">
                            <button type ="submit" class="btn btn-primary" >
                                {% if editMode %}
                                    Enregistrer les modifications
                                {% else %}
                                    Ajouter le foyer
                                {% endif %}
                            </button>
                        </div>
                        
                    </div>
                {{ form_end(formFoyer) }}

        </div>
       </div>
{% endblock %}